/*
BOOTSTRAP & HTML5 BOILER PLATE JS JQ INTEGRATION ALTOGETHER
Author: MINHAZUL ASIF ISLAM
Email: mia.039@gmail.com
URL: http://minhazulasif.com/

/* media query for responsiveness
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 1200px) {}
*/
        *{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-family: 'Merriweather', serif;
}

.container_wrapper {
	overflow: hidden;
}

body {
	margin:0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color: #fff


}

img {
	max-width: 100%;
	margin: 0 auto;
}

/* heading_section part start*/

.heading_section {
	background: url(../images/hero_bg.jpg);
	height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header {
    padding: 60px 0 0px 0;
}
.container_wrapper {
	width: 88%;
	margin: 0 auto;
}

.logo {
	width: 15%;
	float: left;
	margin-top: -49px;
}
.logo img {

width: 145px;
}

nav {

width: 85%;

float: left;
}
nav ul {
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.8s;
}

nav ul li a:hover {
    text-decoration: none;
    transform: scale(.8);
    color: wheat;
    border-bottom: 1px solid wheat;
    background-color: transparent;
}


a.click{
	border:1px solid white;
	border-radius: 8px;
	transition: all 0.8s;

}

a.click:hover{
	background: transparent;
	border-color: #E8B0B3;

}
.banner {
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	min-width: 70%;
	text-align: center;

}
.banner h1 {

text-transform: capitalize;

color: #E2DDD1;

font-weight: bold;

line-height: 1.2;

margin: 0 auto 40px;

font-size: 43px;
}

.banner p{
	margin-bottom: 30px;
}

a.get_click {
	padding: 12px 29px;
	border-radius: 33px;
	margin-left: 14px;
	background-color: #E8B0B3;
	border-color: #E8B0B3;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
a.get_click:hover {
    color: #fff;
    background-color: #FADAAE !important;
    border-color: #FADAAE !important;
}
a.one_click{
	margin-left: -2px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	transition: all 0.8s;
}


a.one_click:hover{
	
background-color: transparent !important;
	
border-color: #fff;

padding-left: 10px;
}
/*heading_section part end*/

/*wedding_place part start*/

.wedding_place {background: #39bfb3;/* min-height: 100vh; */text-align: center;}


.header_2 {padding: 51px;
white-space: pre-line;
color: black;
text-align: center;}
.header_2 h6 {color: rgba(0,0,0,0.75);letter-spacing: .15em;font-weight: 600;font-size: 12px;}
.header_2 h1{color: rgba(62, 55, 55, 0.75);font-size: 36px;font-weight: 700;}
.header_2 p{color: #3a2f2c;white-space: pre-line;text-transform: capitalize;}
.header_2 img{
}

.slider-button{
    margin:0;
    padding: 34px 0;
}
.slider-button ul {
	list-style: none;
	margin-bottom: 27px;
	margin-left: 43%;
}
.slider-button ul li  {
	    height: 15px;
	    width: 15px;
	    background: gray;
	    margin: 3px;
	    float: left;
	    border: 1px solid transparent;
	    border-radius: 50%;
	    cursor: pointer;
	    transition: 0.5s ease;
}
.slider-button ul li:hover {
    transform: scale(1.2);
    background: rgba(226, 30, 97, 0.7);
}

/*wedding_place part end*/

/*wedding_evrything part start*/

.wedding_evrything{

background: rgba(255, 235, 59, 0.73);
}



.one_two {
	
width: 50%;
	
float: left;
	
text-align: center;
	
margin-bottom: 50px;
	
transition: all 0.8s;
}

.one_two:hover{
	
transform: scale(1.2);
	
}
.one_two img{

}
.one_two h2{

color: black;
}
.one_two p{

white-space: pre-line;

color: rgb(58, 45, 40);
}
.print {
	text-align: center;
	white-space: pre-line;
}
.print img{

}
.print h2{

color: darkred;
}

.print p {

color: #4e3838;
}


/*wedding_evrything part end*/


/*wedding_gallery part start*/

.wedding_gallery{

padding-bottom: 20px;
background: wheat;
}
.one_three{
	float: left;
	width: 33.33336%;
}

.one_three img{
	
width: 450px;
	
height: 281px;
transition: all 0.8s;
}

.one_three img:hover{
	transform: rotate(360deg);
}






/*wedding_gallery part end*/

/*wedding_footer part start*/

.wedding_footer {
    padding: 50px 0;
    background-color: #26404c;
    color: #FEFEFE;
    font-family: 'Athiti', sans-serif;
    
}

.one_half {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.one_half h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 20px 0;
}

.one_half p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 20px 0;
}


.one_half h6{

}

.one_half:hover {
    
}

.second_half {
    width: 50%;
    float: left;
    box-sizing: border-box;
}



.second_half ul {
    margin: 0;
    padding: 0;
    float: right;
}

.second_half ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    /* background-color: #FEFEFE; */
    margin: 0 5px;
    border-radius: 50%;
    
}


.second_half ul li a {
    color: #de5057;


}
.fa.fa-facebook {
	border-radius: 19px;
	background: #18187b;
	color: white;
	padding: 4px 8px;}

.fa.fa-twitter {
	border-radius: 19px;
    background: #2196F3;
    color: white;
    padding: 4px 8px;}

.fa.fa-linkedin {
	border-radius: 19px;
    background: #3F51B5;
    color: white;
    padding: 4px 8px;}

.fa.fa-envelope {   
	border-radius: 19px;
    background: #9E9E9E;
    color: white;
    padding: 4px 8px;}
.second_half p {
    margin: 0;
    text-align: right;
    padding: 40px 20px 20px 0;
    font-size: 14px;
    padding-left: 129px;
}


/*wedding_footer part end*/